@import 'tailwindcss';

body {
  background-color: #1a1a1a;
  font-family: 'Roboto', sans-serif;
  color: #f0f0f0;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-optical-sizing: auto;
  font-kerning: auto;
  font-feature-settings: 'liga', 'clig', 'kern';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
